.Form {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    color : rgb(43,138,141);
}

.Form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.Form input {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 20px;
}

.Form label {

    font-weight: bold;
}

label:nth-of-type(1) input{
    width: 250px;
}

label:nth-of-type(2) input{
    width: 60px;
}

.Form input {
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(33, 95, 97);
}

.Form button{
    background-color: green;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 3px 7px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.Form button.disabled{
    background-color: grey;
    cursor: not-allowed;
}

.Form button:not(.disabled):hover{
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

button.cancel {
    margin-left: 20px;
    background-color: rgb(202, 74, 74);
}
