.Table {
    background-color: white;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 3px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin-bottom: 20px;
}

th,td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
}

th:last-child,td:last-child {
    width: 0;
    white-space: nowrap;
}

.Table button {
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 30px;
    text-align: center;
    border-radius: 3px;
    padding: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
}

button.delete{
    background-color: red;
    margin-right: 5px;
}

button.edit {
    background-color: blue;
}

.Table button.delete:hover {
    background-color: darkred;
}

.Table button.edit:hover {
    background-color: darkblue;
}

hr {
    width: 80%;
    color: white;
}

